.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
basedatosconsulta.csv
base_sensibilidad_corneal.csv
*.csv
*.csv
*.RData
base_sensibilidad_corneal.csv
tesis_sensibilidad_corneal_113.RData
*.RData
.RData
.Rhistory
.Rapp.history
.DS_Store
.RData
.Rhistory
.Rapp.history
.DS_Store
.positai

# Cache y archivos temporales de Quarto
*_cache/
*_files/
